[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Grimshot Active 
Exec=grimshot save active
Terminal=false
Icon=org.gnome.Screenshot
Type=Application
Categories=Application;Utility;
#MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;text/xml;application/xhtml_xml;
